extends layout

block styles
  link(rel="stylesheet" href="/styles/foundation.calendar.css")

block body
  .row
    .small-12.column
      h1 Dashboard

  .row
    .small-9.column
      ul.calendar
        li.title Forthcoming events
        li.day-header
          .small-1.day Sun
          .small-1.day Mon
          .small-1.day Tue
          .small-1.day Wed
          .small-1.day Thu
          .small-1.day Fri
          .small-1.day Sat

        each week in calendar
          li.week
            each day in week
              -var previousMonthClass;
              -var nextMonthClass;
              -var todayClass;

              if day.date.getMonth() == currentDate.getMonth() && day.date.getDate() == currentDate.getDate()
                -todayClass = " today";
              else
                -todayClass = "";

              if day.date.getMonth() == previousMonth + 2
                -nextMonthClass = " next-month"
              else
                -nextMonthClass = "";

              if day.date.getMonth() == previousMonth
                -previousMonthClass = " previous-month";
              else
                -previousMonthClass = "";

              div(class="small-1 day" + previousMonthClass + nextMonthClass + todayClass)
                =day.number
                if calendarEvents.hasOwnProperty(day.date)
                  ul.events
                    each event in calendarEvents[day.date]
                      li(class="event " + event.department + " " + event.leaveType)=event.owner
    .small-3.column
      .row
        .small-12.column
          h5 Legend
        .small-12.column.legend
          .small-3.column
            .vacation.color-block
          .small-9.column
            p Vacation

          .small-3.column
            .special-leave.color-block
          .small-9.column
            p Special Leave

          .small-3.column
            .holiday.color-block
          .small-9.column
            p Holiday

      .row
        fieldset.small-12.column.fieldset
          legend Departments
          .small-12.column
            input#navision(type="checkbox" checked)
            label(for="navision") Navision
          .small-12.column
            input#stable-net-dev(type="checkbox" checked)
            label(for="stable-net-dev") StableNet
          .small-12.column
            input#management(type="checkbox" checked)
            label(for="management") Management / Office
          .small-12.column
            input#not-assigned(type="checkbox" checked)
            label(for="not-assigned") Not assigned

  .row
    .small-9.column
      .table-scroll
        table.matrix-table
          thead
            tr
              th.matrix-box
              each week in calendar
                each day in week
                  th.matrix-box=day.date.getDate()
          tbody
            each user in employees
              -var matrixRowClass;
              if matrixEvents.hasOwnProperty(user["Resource No_"])
                -matrixRowClass = "matrix-has-entries";
              else
                -matrixRowClass = "matrix-no-entries";
              tr(class=matrixRowClass)
                td.matrix-box
                  span.has-tip(data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="1" title=user["First Name"] + " " + user["Last Name"])=user["Resource No_"]
                each week in calendar
                  each day in week
                    if day.date.getDay() == 0 || day.date.getDay() == 6
                      td.matrix-box.matrix-box-weekend
                    else if matrixEvents.hasOwnProperty(user["Resource No_"])
                      if matrixEvents[user["Resource No_"]].hasOwnProperty(day.date)
                        td.matrix-box.vacation
                      else
                        td.matrix-box.matrix-box-free
                    else
                      td.matrix-box.matrix-box-free
    .small-3.column
      fieldset.small-12.column.fieldset
        legend Display
        .small-12.column
          input#matrix-has-entries(type="checkbox" checked)
          label(for="matrix-has-entries") Out of the office
        .small-12.column
          input#matrix-no-entries(type="checkbox")
          label(for="matrix-no-entries") At the office



block scripts
  script(src="/js/forthcoming-events-filter.js")
