extends layout

block body
  .row
    .small-12.column
      h1 Time Registration
    .small-12.column
        .callout
          h2 How does it work?
          p ...

  .row
    .small-12.column
      form(method="post" action="/add-entry")
        fieldset.fieldset
          legend
            h2 Insert new entry
          .row
            .small-12.medium-6.column
              .row
                .small-3.column
                  label.text-right.middle(for="timeRegistryEntryDate") Date:
                .small-9.column
                  input#timeRegistryEntryDate(type="text" class="span2" name="timeRegistryEntryDate")
              .row
                .small-3.column
                  label.text-right.middle(for="project") Project:
                .small-9.column
                  input#project(type="text" name="project")
              .row
                .small-3.column
                  label.text-right.middle(for="task") Task:
                .small-9.column
                  input#task(type="text" name="task")
              .row
                .small-3.column
                  label.text-right.middle(for="subproject") Subproject:
                .small-9.column
                  input#subproject(type="text" name="subproject")
              .row
                .small-3.column
                  label.text-right.middle(for="comment") Comment:
                .small-9.column
                  input#comment(type="text" name="comment")
              .row
                .small-3.column
                  label.text-right.middle(for="time") Time:
                .small-3.column
                  input#time(type="number" name="time" value=0 step="0.25")
                .small-2.column
                  label.text-right.middle(for="unit") Unit:
                .small-4.column
                  select#unit(name="unit")
                    option(value="hours") Hours
                    option(value="minutes") Minutes
                    option(value="days") Days
            .small-12.medium-6.column
              .row
                .small-12.column
                  fieldset.fieldset
                    .small-12.column
                      legend Options
                      input#flat(type="checkbox" name="flat")
                      label(for="flat") Flat

                      input#ticket(type="checkbox" name="ticket")
                      label(for="ticket") Ticket

                      input#review(type="checkbox" name="review")
                      label(for="review") Review

                      input#chargeable(name="chargeable" type="checkbox")
                      label(for="chargeable") Chargeable

                    .small-12.column#chargeableTime-container
                      label Chargeable Time
                        input#chargeableTime(name="chargeableTime" type="number" value=0 step="0.25")
                    .small-12.column
                      label Share entry with colleagues
                      textarea#invite-colleagues(name="inviteColleagues")
              .row
                .small-12.column
                  button.button(type="submit") Insert entry

  .row
    .small-12.column
      .table-scroll
        table
          thead
            tr
              th Project
              th Task
              th Sub Project
              th Comment
              th Time
              th Unit
              th Chargeable
              th Chargeable time
              th Flat
              th Ticket
              th Review
              th Delete
          tbody
            each entry in timeRegEntries
              tr
                td
                  =entry.project
                td
                  =entry.task
                td
                  =entry.subproject
                td
                  =entry.comment
                td
                  =entry.time
                td
                  =entry.unit
                td.centered
                  if entry.chargeable
                    |X
                td
                  =entry.chargeableTime
                td.centered
                  if entry.flat
                    |X
                td.centered
                  if entry.ticket
                    |X
                td.centered
                  if entry.review
                    |X
                td
                  a(href="/delete-entry/" + entry.id)
                    button.button.alert Delete

block scripts
  script(src="/js/datepicker/foundation-datepicker.min.js")
  script(src="/js/datepicker/locales/foundation-datepicker.de.js")
  script(src="/js/time-registry.js")
