#chargeableTime-container {
  display: none;
}

.centered {
  text-align: center;
}

ul.events {
  margin: 0;
  li.event {
    margin: 5px 0;
    padding: 5px;
    color: #ffffff;
    background-color: rgb(255, 70, 17);

    &.holiday {
      background-color: greenyellow;
    }

    &.vacation {
      background-color: #2199e8;
    }

    &.special-leave {
      background-color: #ec5840;
    }
  }
}
