#chargeableTime-container {
  display: none;
}

.centered {
  text-align: center;
}

ul.events {
  margin: 0;
  li.event {
    margin: 5px 0;
    padding: 2px;
    color: #ffffff;
    font-size: 0.7rem;
  }
}

.holiday {
  background-color: #008383;
}

.vacation {
  background-color: #C69C48;
}

.special-leave {
  background-color: #DA6411;
}

.legend {
  .color-block {
    height: 20px;
    width: 20px;
  }

  p {
    line-height: 1;
  }
}

.matrix-table {
  .matrix-box {
    border: 1px solid #000000;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
  }
  .matrix-box-weekend {
    background-color: #808080;
  }

  .matrix-no-entries {
    display: none;
  }
}
